<ion-header no-border>

  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon color="#222" name="ios-arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title text-center>订单</ion-title>
      <ion-buttons slot="end" >
          <ion-button (click)="showCondition()">
              <ion-icon src="assets/icon/ios-funnel-outline.svg" color="primary"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-segment (ionChange) ="query($event.detail.value)" value="myorder">
      <ion-segment-button value ="myorder">
      <ion-label>我的业绩订单</ion-label>
      </ion-segment-button>
      <ion-segment-button value="shoporder">
      <ion-label>门店发货订单</ion-label>
      </ion-segment-button>
  </ion-segment>

 </ion-header>

<ion-content>
    <ng-container *ngFor="let item of list; index as i; ">
    <ion-card>
        <ion-item   detail="false" (click)="showdetail(item.customerOrder.id)" >

          <ion-avatar slot="start">
                <ion-img [src]="item.customer.avatar"></ion-img>
          </ion-avatar>
            <ion-label>
                <p class="membertop">{{item.customer.realName}}</p>
                <p class="membercontent">{{item.customerOrder.gmtCreate}}</p><!-- 下单时间 -->
            </ion-label>

            <ion-label class="right">
                <p class=""  style="float: right;">待自提</p>
            </ion-label>

          <!-- <ion-icon color="gray " name="ios-arrow-forward"></ion-icon> -->
       </ion-item>
       <ion-card-content style="height: 158px; width: 100%;border-bottom-style: solid;border-bottom-color: #77767636; position: relative;">
          <ion-label class="" style="float: left; width: 60%;">
              <p class="membertop">订单号：{{item.customerOrder.code}}</p>
              <p class="" >总金额:{{item.customerOrder.totalPrice}}</p>
              <p class="" >提成金额:{{item.customerOrder.totalDetuct}}</p>
              <p class="" >处理门店:{{item.handleStore.name}}</p>
              <p class="" >共{{item.orderItemList[0].shoppingCount}}一件商品</p>
          </ion-label>
          
          <ion-label class="" style="float: right; ">
              <ion-avatar slot="start"  style="width: 80px;height: 80px">
                    <ion-img [src]="item.handleStore.logo"></ion-img>
              </ion-avatar>
          </ion-label>
        </ion-card-content>

        <ion-item   detail="false" >
            <ion-label>
                <p class="membertop">联系买家</p>
            </ion-label>
            <ion-label class="right">
                <p class=""  style="float: right;">备注</p>
            </ion-label>
       </ion-item>

     </ion-card>
    
    </ng-container>



      
    
  
</ion-content>
