<ion-header>
  <ion-toolbar>
    <ion-title>活动效果</ion-title>
  </ion-toolbar>
  <ion-segment  (ionChange)="query2($event.detail.value)" value="running">
      <ion-segment-button value="running">
      <ion-label>运行中的卡券</ion-label>
      </ion-segment-button>
      <ion-segment-button value="history">
      <ion-label>历史卡券</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ng-container *ngFor="let item of list; index as i; ">
    <ion-card>
    <ion-grid class="item-grid ">
        <ion-row   routerLink="/inventory-summary-ct" >
            <ion-col text-left>
                <ion-item lines='none'  detail="true" (click)="topage('rankingsdtl','fans')">
                    <ion-label style="font-size: 13px;">
                      {{item.couponType}} {{item.title}}
                    </ion-label>
                    <ion-label style="width: 20px; font-size: 13px;text-align: right;">
                      核销记录</ion-label>
            </ion-item>
            </ion-col>
        </ion-row>
        <ion-row >
            <ion-col text-center>
                <ion-label>
                    <p class="item-text-blue ">{{item.receiveNum}}</p>
                    <p class="item-text-gray  " >领取卡券数</p>
                </ion-label>
            </ion-col>
            <ion-col text-center>
                <ion-label>
                    <p class="item-text-blue ">{{item.verifyNum}}</p>
                    <p class="item-text-gray ">卡券核销数</p>
                </ion-label>
            </ion-col>
            <ion-col text-center>
                    <ion-label>
                        <p class="item-text-blue ">{{item.verifyPercent}}</p>
                        <p class="item-text-gray ">卡券使用率</p>
                    </ion-label>
                </ion-col>
        </ion-row>
    </ion-grid>
    </ion-card>
  </ng-container>
</ion-content>
