<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()"><ion-icon slot="icon-only" name="ios-arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title text-center>导购入职<span></span></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
   

<!-- Inputs with labels -->
<ion-item>
    <ion-label position="floating"> 名称</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> 导购手机</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> 导购工号</ion-label>
       <ion-input></ion-input>
   </ion-item>
   <ion-item>
       <ion-label position="floating"> 导购微信</ion-label>
      <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Summary</ion-label>
    <ion-textarea
      disabled
      readonly
      value="Ionic enables developers to build performant, high-quality mobile apps.">
    </ion-textarea>
  </ion-item>


  <ion-button expand="block" >确定</ion-button>

</ion-content>
