<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()"><ion-icon slot="icon-only" name="ios-arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title text-center>导购入职<span></span></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
   

<!-- Inputs with labels -->
<ion-item>
    <ion-label position="floating"> 姓名</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> 导购手机</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating"> 导购工号</ion-label>
       <ion-input></ion-input>
   </ion-item>
   <ion-item>
       <ion-label position="floating"> 导购微信</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">*选择门店</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <!-- <ion-label position="floating">*服务顾问职位</ion-label> -->
     <div class="item item-input item-select">
        <select>
          <option>店长</option>
          <option>店员</option>
        </select>
       </div>
  </ion-item>
  <!-- <ion-select  selectedText="{{seclectedCountry}}" >
        <ion-option *ngFor="let num of country" (ionSelect)="selectNumber(num)" value={{num.value}}>
            {{num.title}}   {{num.value}}</ion-option>
   </ion-select>
     selectNumber(num) {
        this.seclectedCountry = num.value;
     } -->


  <ion-item>
    <ion-label position="stacked">Summary</ion-label>
    <ion-textarea
      disabled
      readonly
      value="Ionic enables developers to build performant, high-quality mobile apps.">
    </ion-textarea>
  </ion-item>


  <ion-button expand="block" >确定</ion-button>

</ion-content>
