<ion-header no-border>
    <ion-toolbar>
        <ion-title style="text-align: center;">
            控制台
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-slides pager="true" autoplay="2000" loop="true" speed="2000" ionSlides="4" style="background: #fff;height: 150px">
        <ion-slide>
            <img style="width: 90%;height: 140px;border-radius: 10px;opacity: 0.9" src="assets/imgs/banner02.png">
        </ion-slide>
        <ion-slide>
            <img style="width: 90%;height: 140px;border-radius: 10px;opacity: 0.9" src="assets/imgs/banner03.png">
        </ion-slide>
        <ion-slide>
            <img style="width: 90%;height: 140px;border-radius: 10px;opacity: 0.9" src="assets/imgs/banner04.png">
        </ion-slide>
        <ion-slide>
            <img style="width: 90%;height: 140px;border-radius: 10px;opacity: 0.9" src="assets/imgs/banner05.png">
        </ion-slide>
        <ion-slide>
            <img style="width: 90%;height: 140px;border-radius: 10px;opacity: 0.9" src="assets/imgs/banner06.png">
        </ion-slide>
    </ion-slides> -->

    <ion-item-divider style="--background: rgb(230, 230, 230) ;height: 10px;min-height: 0px"></ion-item-divider>

    <ng-container *ngFor="let item of data.menu">
        <ion-grid>
            <ion-row>
                <ion-col text-center>
                    <img src="assets/imgs/line.png" style="transform:rotate(180deg);margin-bottom: 4px;"> {{item.name}}
                    <img src="assets/imgs/line.png" style="margin-bottom: 4px;">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3" text-center *ngFor="let sub of item.sub" (click)="toPage(sub)">
                    <ion-icon [style.color]="sub.color" class="iconfont {{sub.iconName}}" style="font-size:45px;height:60px">
                    </ion-icon>
                    <div>
                        {{sub.name}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <ion-item-divider style="--background: rgb(230, 230, 230);height: 10px;min-height: 0px"></ion-item-divider> -->
    </ng-container>

</ion-content>