<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="back()">
            <ion-icon color="#222" name="ios-arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title text-center>会员信息</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
      
    <!-- <div style="padding:10px 1px;border-bottom: 10px solid rgb(230, 230, 230) "></div> -->
    
    <ng-container *ngFor="let item of list; index as i; ">
    <ion-grid class="item-grid">
        
        <ion-row class="">
            <ion-col>
                <ion-item  class=""  style=""  lines="none" routerLink="/info" >
                    <ion-avatar slot="start">
                            <ion-img [src]="item.customerBean.customerVo.avatar"></ion-img>
                    </ion-avatar>
                    <ion-label>
                        <p style="width: 200px;">{{item.customerBean.customerVo.realName}}</p>
                        <p style="width: 300px;">昵称：{{item.customerBean.customerVo.name}}</p>
                    </ion-label>
                    <ion-label class="right">
                        <p class="" style="float: right;" >姓名备注</p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-item-divider style="--background: rgb(247, 245, 245) ;height: 10px;min-height: 0px"></ion-item-divider>

        <ion-row class="item-border">
            <ion-col>
                <ion-item   mode="ios"  class="itemboderbot "  style=""  detail lines="none" routerLink="/info" >
                    <ion-label>
                        <p>会员卡信息</p>
                    </ion-label>
                    

                    <ion-label class="right">
                        <p class="" style="float: right;">{{item.customerBean.levelName}}|{{item.customerBean.point}}{{item.customerBean.unit}}</p>
                    </ion-label>
                </ion-item>

                <ion-item  mode="ios"   class=""  style=""  detail lines="none" routerLink="/info" >
                    <ion-label>
                        <p>账户余额</p>
                    </ion-label>
                    <ion-label class="right">
                        <p class="" style="float: right;" >0</p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-item-divider style="--background: rgb(247, 245, 245) ;height: 10px;min-height: 0px"></ion-item-divider>
        
        <ion-row class="">
          <ion-col> 
                <!--<ion-item   detail="false" lines="none" routerLink="/info" >
                    <ion-label>
                        <p class="fontweight" style="margin-left: 10px;">标签</p>
                    
                         <ion-item  text-wrap mode="md"  detail="false"  lines="none" routerLink="/info" >
                          <ion-button size="small">添加</ion-button>     
                          <ng-container *ngFor="let itemt of tagVoList ;index as it;">
                              <ion-button style="--border-width:60px;">{{itemt.name}}</ion-button>
                          </ng-container > 
                     
                         </ion-item> 
                    </ion-label>
                </ion-item> -->
                <ion-label>
                        <p class="fontweight" style="margin-left: 10px;">标签</p>
                          <ion-button size="small">添加</ion-button>     
                          <ng-container *ngFor="let itemt of tagVoList ;index as it;">
                              <ion-button   size="small" >{{itemt.name}}</ion-button>
                         </ng-container > 

                         <ion-button  size="small" style="float: right;"  (click)="topage('labeldtl','')">详情</ion-button>
                 </ion-label>
             </ion-col> 
        </ion-row>

        <ion-item-divider style="--background: rgb(247, 245, 245);height: 10px;min-height: 0px"></ion-item-divider>
        
        <ion-row class="">
            <ion-col>
                <ion-item  class="itemboderbot"  style="" lines="none" detail="true"  routerLink="/info" >
                    <ion-label>
                        <p>消费记录</p>
                    </ion-label>
            
                    <ion-label class="right">
                        <p class="" >共{{item.payInfo.orderCount}}笔订单,{{item.payInfo.orderMoney}}元</p>
                        <p class="" >最近消费时间：{{lastOrderPay}}</p>
                    </ion-label>
                </ion-item>

                <ion-item  class=""  style=""  detail="false" lines="none"  routerLink="/info" >
                    <ion-label>
                        <p>剩余优惠券</p>
                    </ion-label>
                    
                    <ion-label class="right">
                        <p class="" ></p>
                    </ion-label>
            
                    <ion-label class="right">
                        <p class="" >无可用优惠券</p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-item-divider style="--background: rgb(247, 245, 245) ;height: 10px;min-height: 0px"></ion-item-divider>
        
        <ion-row class="">
            <ion-col>
                <ion-item  class=""  style=""  detail lines="none" routerLink="/info" >
                    <ion-label>
                        <p>补充会员信息</p>
                    </ion-label>
                    
                    <ion-label class="right">
                        <p class="" ></p>
                    </ion-label>
            
                    <ion-label class="right">
                        <p class="" >点击可编辑</p>
                    </ion-label>
                </ion-item>  
            </ion-col>
        </ion-row>

        <ion-item-divider style="--background: rgb(247, 245, 245) ;height: 10px;min-height: 0px"></ion-item-divider>

        <ion-button expand="block" fill="outline" (click)="goodsadd()"  style="margin-bottom: 25px;">发消息</ion-button>
        <ion-button expand="block" fill="outline" (click)="goodsadd()" >拨打电话{{item.customerBean.customerVo.phone}}</ion-button>


    </ion-grid>

    
    </ng-container >


</ion-content>
