<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="member">
      <ion-icon name="people"></ion-icon>
      <ion-label>会员</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Messagedialog">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>会员消息</ion-label>
     </ion-tab-button>

     <ion-tab-button tab="workbench">
        <ion-icon name="keypad"></ion-icon>
        <ion-label>工作台</ion-label>
     </ion-tab-button>
    
     <ion-tab-button tab="Performance">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>业绩模板</ion-label>
     </ion-tab-button>
    
     <ion-tab-button tab="Performancerankings">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>业绩</ion-label>
     </ion-tab-button>

     <ion-tab-button tab="Shopguideranking">
        <ion-icon name="contact"></ion-icon>
        <ion-label>导购</ion-label>
     </ion-tab-button>
     
    <ion-tab-button tab="rankings">
      <ion-icon name="stats"></ion-icon>
      <ion-label>排行</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="mycenter">
      <ion-icon name="person"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
