<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon color="#222" name="ios-arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title text-center>订单详情</ion-title>
      <ion-buttons slot="end" style="display: none;">
          <ion-button (click)="showCondition()">
              <ion-icon src="assets/icon/ios-funnel-outline.svg" color="primary"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <!-- [(ngModel)]="category" (ngModelChange)="query()" -->
  <ion-segment (ionChange)="segmentChanged($event)" value="python">
        <ion-segment-button value="python">
        <ion-label>订单详情</ion-label>
        </ion-segment-button>
        <ion-segment-button value="javascript">
        <ion-label>备注</ion-label>
        </ion-segment-button>
        <ion-segment-button value="javascript1">
        <ion-label>评价</ion-label>
        </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
        <ion-card>
            <ion-item   detail="false"  >
                  <ion-avatar slot="start">
                      <img src="assets/imgs/icon_boy.png">
                  </ion-avatar>
                    <ion-label>
                        <p class="membertop">客户1</p>
                        <p class="membercontent">15345678962</p>
                    </ion-label>
                <!-- <ion-icon color="gray " name="ios-arrow-forward"></ion-icon> 自定义图标-->
            </ion-item>
            <ion-card-content style="height: 247px; width: 100%;border-bottom-style: solid;border-bottom-color: #77767636; position: relative;">
              <ion-label class="" style="">
                <p class="membertop">订单基础信息</p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">订单编号&nbsp; </span>:444411111</p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">订单类型 &nbsp;</span>:在线商城</p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">下单时间 &nbsp;</span>:2019.08.27 17:15:52</p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">支付方式 &nbsp;</span>:微信支付</p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">支付时间 &nbsp;</span>:2019.08.27 17:15:52</p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">配送方式&nbsp; </span>:到店自提</p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">提货人名 &nbsp;</span>:客户001    </p>
                <p class="membertop"> <span style="font-weight: bold;color: #222222">联系电话&nbsp; </span>:13660403524</p>
             </ion-label>
            </ion-card-content>

            <ion-card-content style="height: 164px; width: 100%;border-bottom-style: solid;border-bottom-color: #77767636; position: relative;">
                    <ion-label>
                            <p class="membertop">订单处理信息</p>
                            <p class="membertop"> <span style="font-weight: bold;color: #222222">处理门店&nbsp; </span>:test01</p>
                            <p class="membertop"> <span style="font-weight: bold;color: #222222">业绩归属门店 &nbsp;</span>:test01</p>
                            <p class="membertop"> <span style="font-weight: bold;color: #222222">本单服务顾问 &nbsp;</span>:</p>
                            <p class="membertop"> <span style="font-weight: bold;color: #222222">本单提成 &nbsp;</span>:$0.00</p>
                            <p class="membertop"> <span style="font-weight: bold;color: #222222">客户备注 &nbsp;</span>:/</p>
                        </ion-label>
            </ion-card-content>

            <ion-item   detail="false">
                <ion-label style="position: relative;">
                    <p style="float: left;">商品</p> 
                    <p style="float: left;  position: absolute;left: 28%;">购买信息</p> 
                    <p style="float: right;">小计</p>
                </ion-label>
             </ion-item>
             <ion-item   detail="false"  >
                    <ion-avatar slot="start">
                        <img src="assets/imgs/icon_boy.png">
                    </ion-avatar>
                      <ion-label>
                          <p class="membertop">测试商品</p>
                          <p class="membercontent">￥0.01*1</p>
                      </ion-label>
                      <ion-label class="right">
                            <p class=""  style="float: right;">￥0.01元</p>
                    </ion-label>
                
              </ion-item>
             <ion-item style="float: right;"> 
                    <ion-label >
                        <p class="membertop">订单处理信息</p>
                        <p class="membertop"> <span >处理门店&nbsp; </span>:test01</p>
                        <p class="membertop"> <span >业绩归属门店 &nbsp;</span>:test01</p>
                        <p class="membertop"> <span >本单服务顾问 &nbsp;</span>:</p>
                        <p class="membertop"> <span >本单提成 &nbsp;</span>:$0.00</p>
                        <p class="membertop"> <span >客户备注 &nbsp;</span>:/</p>
                    </ion-label>
             </ion-item>
                 
        </ion-card>
        
        <ion-segment-button layout="icon-bottom" style="background:rgb(6, 86, 177);border-style:none;">
                <ion-icon name="call"></ion-icon>
                <ion-label>联系客户</ion-label>
         </ion-segment-button>

          
</ion-content>
