<ion-header>

  <!-- <ion-toolbar>
    <ion-title>Shopguideranking</ion-title>
  </ion-toolbar> -->

  <ion-button expand="block" (click)="addshopguide()" >添加导购</ion-button>

</ion-header>

<ion-content>

      <ion-grid >
          <ion-row class="ionitemflot"> 
              <ion-col style="align-items: flex-end;">
                
                  <!-- <ion-avatar slot="start"  style="width: 80px;height: 80px">
                      <img src="assets/imgs/icon_boy.png" />
                  </ion-avatar> -->
                  <ion-label>
                      <ion-avatar slot="start"  style="width: 48px;height: 48px; margin-left: 36%;">
                          <img src="assets/imgs/icon_boy.png" />
                      </ion-avatar> 
                      <p style="text-align: center;">姓名</p>
                      <p style="text-align: center;">这个家伙很懒，</p>
                      
                  </ion-label>
                  <ion-button expand="block" style="width: 68px;height: 26px; margin-left: 25%; " >
                    已关注</ion-button>
                
              </ion-col>
        </ion-row>

          <ion-row class="ionitemflot"> 
                <ion-col style="align-items: flex-end;">
                  
                    <!-- <ion-avatar slot="start"  style="width: 80px;height: 80px">
                        <img src="assets/imgs/icon_boy.png" />
                    </ion-avatar> -->
                    <ion-label>
                        <ion-avatar slot="start"  style="width: 48px;height: 48px; margin-left: 36%;">
                            <img src="assets/imgs/icon_boy.png" />
                        </ion-avatar> 
                        <p style="text-align: center;">姓名</p>
                        <p style="text-align: center;">这个家伙很懒，</p>
                        
                    </ion-label>
                    <ion-button expand="block" style="width: 68px;height: 26px; margin-left: 25%; " >
                      已关注</ion-button>
                  
                </ion-col>
          </ion-row>



          <ion-row class="ionitemflot"> 
              <ion-col style="align-items: flex-end;">
                
                  <!-- <ion-avatar slot="start"  style="width: 80px;height: 80px">
                      <img src="assets/imgs/icon_boy.png" />
                  </ion-avatar> -->
                  <ion-label>
                      <ion-avatar slot="start"  style="width: 48px;height: 48px; margin-left: 36%;">
                          <img src="assets/imgs/icon_boy.png" />
                      </ion-avatar> 
                      <p style="text-align: center;">姓名</p>
                      <p style="text-align: center;">这个家伙很懒，</p>
                      
                  </ion-label>
                  <ion-button expand="block" style="width: 68px;height: 26px; margin-left: 25%; " >
                    已关注</ion-button>
                
              </ion-col>
        </ion-row>

        <ion-row class="ionitemflot"> 
            <ion-col style="align-items: flex-end;">
              
                <!-- <ion-avatar slot="start"  style="width: 80px;height: 80px">
                    <img src="assets/imgs/icon_boy.png" />
                </ion-avatar> -->
                <ion-label>
                    <ion-avatar slot="start"  style="width: 48px;height: 48px; margin-left: 36%;">
                        <img src="assets/imgs/icon_boy.png" />
                    </ion-avatar> 
                    <p style="text-align: center;">姓名</p>
                    <p style="text-align: center;">这个家伙很懒，</p>
                    
                </ion-label>
                <ion-button expand="block" style="width: 68px;height: 26px; margin-left: 25%; " >
                  已关注</ion-button>
              
            </ion-col>
      </ion-row>
       

      <ion-row class="ionitemflot"> 
          <ion-col style="align-items: flex-end;">
            
              <!-- <ion-avatar slot="start"  style="width: 80px;height: 80px">
                  <img src="assets/imgs/icon_boy.png" />
              </ion-avatar> -->
              <ion-label>
                  <ion-avatar slot="start"  style="width: 48px;height: 48px; margin-left: 36%;">
                      <img src="assets/imgs/icon_boy.png" />
                  </ion-avatar> 
                  <p style="text-align: center;">姓名</p>
                  <p style="text-align: center;">这个家伙很懒，</p>
                  
              </ion-label>
              <ion-button expand="block" style="width: 68px;height: 26px; margin-left: 25%; " >
                已关注</ion-button>
            
          </ion-col>
    </ion-row>



      </ion-grid>







</ion-content>
