<ion-header>
  <ion-toolbar>
    <ion-title>收益明细</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-grid class="item-grid ">
            <ion-row >
                <ion-col text-center>
                    <ion-label>
                        <p class="item-text-blue ">¥0</p>
                        <p class="item-text-gray  " style="margin-top: 10px;" >拉粉1人</p>
                    </ion-label>
                </ion-col>
                <ion-col text-center>
                    <ion-label>
                        <p class="item-text-blue ">¥0</p>
                        <p class="item-text-gray " style="margin-top: 10px;" >开卡0人</p>
                    </ion-label>
                </ion-col>
                <ion-col text-center>
                        <ion-label>
                            <p class="item-text-blue ">¥0</p>
                            <p class="item-text-gray " style="margin-top: 10px;" >核销0张</p>
                        </ion-label>
                    </ion-col>
            </ion-row>
        </ion-grid>
        </ion-card>
</ion-content>
