.membertop{
    font-size: 15px;
     color: #000;
   }

   .membercontent{
       font-size: 11px;  
       text-align: center;
       font-weight:bold;
   }
   .membertopcolor{
    font-size: 19px;
    color: rgb(230, 11, 11);
    text-align: center;
   }

   .membertopright{

    // font-size: 17px;  
    // text-align: right;
    color:#d8dadb;
    float: right;
   }

   .membercontentright{
    float: right;
    margin-right:6px;
   }

   .ion_contentmiddle{
    float: left;
     margin-left:35%;
   }

   .righttop{
    overflow: hidden;
    float: right;
    margin-top: 12px;
   }

   .lefttop{
    overflow: hidden;
    float: left;
    margin-top: 12px;
   }