<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon color="#222" name="ios-arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title text-center>排行详情</ion-title>
  </ion-toolbar>
  <ion-segment  (ionChange) ="query2($event.detail.value)" value="all">
        <!-- style="padding-top:0;min-height: 0;height: auto;" -->
      <ion-segment-button style="min-width: 0;" value='all'>
          <ion-label>总排行</ion-label>
      </ion-segment-button>
      <ion-segment-button style="min-width: 0;" value='lastweek'>
          <ion-label>上周</ion-label>
      </ion-segment-button>
      <ion-segment-button style="min-width: 0;" value='lastmonth'>
          <ion-label>上月</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
    
    <ion-card>
         <ion-card-content style="height: 126px; width: 100%; position: relative;">
            <ion-label class="lefttop">
             <p class="membertopcolor">{{topobj.rank}}</p>
                <p class="membercontent">排行</p>
             </ion-label>
            <ion-avatar  slot="start" class="ion_contentmiddle" >
                <ion-img [src]="topobj.headImgUrl" ></ion-img> 
                <span class="item-title">{{topobj.name}}</span>
            </ion-avatar>
            <ion-label class="righttop">
                <p class="membertopcolor">{{topobj.num}}</p>
                <p class="membercontent">新增粉丝数</p>
            </ion-label>
         </ion-card-content>
    </ion-card>

    <ng-container *ngFor="let item of objlist['list']; index as i; ">
        <ion-item  mode="ios"  detail="false" >
            <!--routerLink="/memberdtl"> -->
          <ion-avatar slot="start">
             <ion-img [src]="item.headImgUrl"></ion-img>
          </ion-avatar>
          <ion-label >
            <p  class="membertop">{{item.name}}</p>
            <!-- <p *ngIf="item.customerVo.realName!=''" class="membertop" style="width: 200px;" >{{item.customerVo.realName}}</p> -->
          </ion-label>
        <ion-label>
                <p class="membertopcolor"  >{{item.num}}&nbsp;&nbsp;&nbsp;
                    <ion-icon name="thumbs-up" class="iconfont membertopright" item-left style="" >
                    </ion-icon>
                </p>
                <p class="membercontent" >新增粉丝数
                    &nbsp;&nbsp;&nbsp;&nbsp;
                   <span class="membercontentright" >0</span>
                </p>
        </ion-label>
      </ion-item>
    </ng-container>
    
    <ion-infinite-scroll padding threshold="150px " (ionInfinite)="doInfinite($event)" [disabled]="!infiniteEnable">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据 ">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
