<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon color="#222" name="ios-arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title text-center>剩余优惠券</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngFor="let item of list; index as i; ">
        <ion-card>
           <ion-card-content style="overflow: hidden;">
            <ion-item   lines="none"   detail="false" style="float: left;width: 30%; overflow: hidden; border-right: 1px dotted rgb(114, 114, 114);">
                 ¥{{item?.coupon.couponValue}}<br/>
                 满{{item?.coupon.orderLimitValue}}使用商城,门店使用
             </ion-item>
             <ion-item lines="none" text-wrap  detail="false" style=" float: right;width: 70%;overflow: hidden;">
                 <ion-label style="font-size: 12px;">
                    <span  class="item-title">{{item.coupon.couponType}}{{item.coupon.couponName}}</span><br/>
                    <span  class="item-title">{{item.coupon.gmtCreate}}~{{item.coupon.gmtUpdate}}</span><br/>
                    <ion-button size="small" (click)="topage('discountcoupondtl',item.coupon.id)"  >查看详情</ion-button> 
                </ion-label>
             </ion-item>
            </ion-card-content>
          </ion-card>
    </ng-container>
</ion-content>
