<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon color="#222" name="ios-arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title text-center>商品</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="clickedSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="搜索商品"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let item of list; index as i; ">
    <ion-item   detail="false"  (click)="showdetail(item?.id)">   <!-- routerLink="/goodsdtl" -->
        <ion-avatar slot="start">
             <ion-img [src]="item.productSupplier.picUrl"></ion-img>
        </ion-avatar>
          <ion-label>
              <p class="membertop" style="width: 200px;">{{item?.productSupplier.name }}</p>
              <p class="membercontent">¥{{item?.minSkuPrice }} <span>提成0.00%</span></p>
              <p class="membercontent"><span>仅自提</span>&nbsp;<span>不支持优惠券</span></p>
          </ion-label>

          <ion-label class="right">
              <ion-icon name="more" class="iconfont" item-left style="color:rgb(61, 60, 60);float: right;" ></ion-icon>
          </ion-label>
       
    </ion-item>
   </ng-container>
   
  
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-button expand="block" fill="outline" (click)="goodsadd()" >发布商品</ion-button>
  </ion-toolbar>
</ion-footer>