.toolbar-background {
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#cb2d3e), to(#ef473a)) !important;
    background-color: red;
}

.toolbar-container{
     background-color: red;
}
    
