<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon color="white" name="ios-arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title text-center style="">卡券核销</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
     <p style=""><!--background-color:rgb(243, 97, 97); -->
      <ion-text color="secondary" >
          <h5 style="padding-left: 10px;">第一步:</h5>
      </ion-text>
      <ion-text color="primary" >
          <h5 style="padding-left: 10px;">请输入会员手机号</h5>
      </ion-text>
    </p>
      
      <!-- <p>
        I saw a werewolf with a Chinese menu in his hand.
        Walking through the 
        <ion-text color="danger"><sub>streets</sub></ion-text> of Soho in the rain.
        He <ion-text color="primary"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
        Gonna get a <ion-text color="secondary"><a>big dish of beef chow mein.</a></ion-text>
        <ion-text color="danger"><ion-icon name="cut"></ion-icon></ion-text>
      </p> -->

    <ion-toolbar>
        <ion-searchbar placeholder="会员手机号" (ionChange)="Change($event.detail.value)" 
        (keyup)="keyup($event)"></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button (click)="search()">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-content>
