<ion-header>

    
    <!-- Segment with default selection -->
    <ion-segment value="javascript">
        <ion-segment-button value="python">
        <ion-label>本店排行</ion-label>
        </ion-segment-button>
        <ion-segment-button value="javascript">
        <ion-label>全国排行</ion-label>
        </ion-segment-button>
    </ion-segment>


</ion-header>

<ion-content>
        <!-- <ion-item-divider style=""></ion-item-divider> -->
  
        <ion-card>
           <ion-item   detail="true"  routerLink="/recommend">
             <ion-label style="font-size: 10px;">&nbsp;&nbsp;&nbsp;我的排名:101</ion-label>
             <ion-label style="font-size: 10px;text-align: right;">&nbsp;&nbsp;&nbsp;全部排行</ion-label>
             <!-- <ion-icon color="gray " name="ios-arrow-forward"></ion-icon> -->
          </ion-item>
            <ion-card-content style="height: 126px; width: 100%; position: relative;">
                    <ion-avatar slot="start"  class="ion_contentsides">
                      <img src="assets/imgs/icon_boy.png" />
                      <span class="item-title">姓名3 </span>
                    </ion-avatar>

                    <ion-avatar slot="start" class="ion_contentmiddle" style="position: absolute;left: 22%;" >
                          <img src="assets/imgs/icon_boy.png" />
                          <span class="item-title">姓名3 </span>
                    </ion-avatar>

                    <ion-avatar slot="start" class="ion_contentsidesright" >
                        <img src="assets/imgs/icon_boy.png" />
                        <span class="item-title">姓名3 </span>
                    </ion-avatar>
            </ion-card-content>
        </ion-card>
         

        <ion-card>
                <ion-item   detail="true"  routerLink="/recommend">
                    <ion-label style="font-size: 10px;">&nbsp;&nbsp;&nbsp;我的排名:101</ion-label>
                    <ion-label style="font-size: 10px;text-align: right;">&nbsp;&nbsp;&nbsp;全部排行</ion-label>
                    <!--<ion-icon color="gray " name="ios-arrow-forward"></ion-icon>-->
                 </ion-item>
                <ion-card-content style="height: 126px;  position: relative;" >
                     <ion-avatar slot="start" class="ion_contentsides" >
                          <img src="assets/imgs/icon_boy.png" />
                          <span class="item-title">姓名3 </span>
                      </ion-avatar>

                     <ion-avatar slot="start" class="ion_contentmiddle" style="position: absolute;left: 22%;" > 
                          <img src="assets/imgs/icon_boy.png" />
                          <span class="item-title">姓名1 </span>
                     </ion-avatar>

                     <ion-avatar slot="start" class="ion_contentsidesright" >
                           <img src="assets/imgs/icon_boy.png" />
                           <span class="item-title">姓名2 </span>
                     </ion-avatar>

                </ion-card-content>
         </ion-card>
        
                

</ion-content>
