ion-item {
    --min-height: 25px;
}



.ion_contentsides{
    width: 60px;height: 60px;float: left;margin-bottom: 5px;     text-align: center;
}

.ion_contentsidesright{
    width: 60px;height: 60px;float: right;margin-bottom: 5px; text-align: center;
}


.ion_contentmiddle{
    width: 80px;height: 80px;float: left;margin-left: 18%;    text-align: center;
}